.footer {
  background: #143b7b;
  color: #fff;
  padding: 40px 20px;
}

.topSection {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  align-items: baseline;
}

.logo {
  display: flex;
  align-items:baseline;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  flex-direction: column;
    justify-content: space-between;
    height: 20vh;
}

.logoIcon {
  margin-right: 8px;
  font-size: 24px;
}

.linksContainer {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

.linkColumn {
  list-style: none;
  padding: 0;
}

.linkColumn li {
  margin-bottom: 10px;
}

.linkColumn li a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  transition: color 0.3s ease;
}

.linkColumn li a:hover {
  color: #00bfff;
}

.socialIcons {
  display: flex;
  gap: 15px;
  font-size: 20px;
}

.socialIcons a {
  color: #fff;
  transition: color 0.3s ease;
}

.socialIcons a:hover {
  color: #00bfff;
}

.bottomSection {
  text-align: left;
  margin-top: 20px;
  font-size: 13px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 15px;
}
